<h1>
    add event
</h1>
<form name="formcontrol" ng-submit="onAdd()">
    <div>
        <label>Name*</label>
        <input type="text" name="name" required ng-model="event.name">
        <span class="error" ng-if="formcontrol.name.$invalid && formcontrol.name.$touched">Please add name</span>
    </div>
    <div>
        <label>Time</label>
        <input type="date" ng-model="event.time">
        <input type="time" ng-model="event.time">
    </div>
    <div>
        <button type="submit" ng-disabled="formcontrol.$invalid">Add</button>
    </div>
</form>